
/* 모든 페이지에 공통으로 적용 */
/* *{margin:0 auto;} */

/* 모든 컨텐츠를 포함하는 body 아래 최상위 box */
/* #wrap {
	text-align:center;
	position:relative;
} */

/* 모든 <img> 테그 테두리 없음 */
/* img { border:0; margin:0;} */

/* 모든 <ul> 태그에 적용 : type 없음 */
ul {
	/* margin-top:0;
	padding:0; */
	list-style-type:none;
}






