{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load youtube_filters %}

<!-- base.html 랑 다른 title -->
{% block title %} {{ user_info.username }} 님의 마이페이지 {% endblock %}


{% block content %} 

{% comment %} {% include "./my_page_nav.html" %} {% endcomment %}

{% comment %} if is_superusr == True 이면 유저 정보 삭제 권한 등이 있는 admin 페이지 출력 {% endcomment %}

<h3>{{ user_info.username }} 님의 마이 페이지</h3>


<table id="my_page_table" method="post">
    {% csrf_token %}
    {% comment %} <tr><th>프로필 이미지</th><td><img src="{{ user_info.profile_image }}"/></td><button id="upload" type="submit">업로드</button></tr> {% endcomment %}
    <tr><th>아이디</th><td>{{ user_info.username }}</td></tr>
    <tr><th>이름</th><td>{{ user_info.user_name }}</td></tr>
    <tr><th>마지막 접속 날짜</th><td>{{ user_info.last_login }}</td></tr>           
    <tr><th>전화번호</th><td>{{ user_info.user_phone }}</td></tr>
    <tr><th>이메일</th><td>{{ user_info.email }}</td></tr>
    <tr><th>주소</th><td>{{ user_info.user_address }}</td></tr>
    <tr><th>선호 지역</th><td>{{ user_info.preferred_region_no}}</td></tr> <!-- preferred_ models 에서 드롭다운으로 option 선택하게 -->
    <tr><th>선호 숙박 타입</th><td>{{ user_info.preferred_accommodation_type_no }}</td></tr>
    <tr><th>선호 여행 테마 타입</th><td>{{ user_info.preferred_tour_theme_type_no }}</td></tr>
</table>

{% comment %} {{keyword_trend}} {% endcomment %}
<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/3461_RC01/embed_loader.js"></script>
<script type="text/javascript"> trends.embed.renderExploreWidget("RELATED_TOPICS", {"comparisonItem":[{"keyword":{{user_info.preferred_region_no}},"geo":"KR","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=KR&q={{keyword_trend}}&date=today 12-m","guestPath":"https://trends.google.co.kr:443/trends/embed/"}); </script>




{% endblock content %}