
{% load static %}
{% load youtube_filters %}


{% block content %}  

<style>
    #my_page_nav {
        background-color: #white !important;         
        padding: 10px;
        border: 1px solid rgba(0, 185, 142);
        border-radius: 5px;
        position: fixed;
        bottom: 0; /* 화면 하단에 고정 */        
    }
</style>

<div id="my_page_nav">
     <!-- 카카오톡 메세지 공유 버튼 시작 - kdy -->    
     <div id="kakao_message_t_btn">
     <a href='#'><img src="{% static 'img/kakao_disign/kakaotalk_sharing_btn/kakaotalk_sharing_btn_medium.png' %}" alt="" title="카카오톡 메세지 공유"/><br>메세지 공유</a>
     </div>    
     <!-- 카카오톡 메세지 공유 버튼 끝 --> 

    <hr>
    <div><a href="{% url 'my_page'%}" class="nav-item nav-link btn btn-outline-primary">{{keyword}}:HOME</a></div>
    <div><a href="{% url 'youtube_list' keyword='제주도' keyword2='추천' %}#tab-1" class="btn btn-outline-primary" data-bs-toggle="pill">{{keyword}}:추천 유투브</a></div>
    <div><a href="{% url 'user_info_list' keyword='제주도' keyword2='추천' %}#tab-1" class="btn btn-outline-primary" data-bs-toggle="pill">{{keyword}}:추천 블로그</a></div>
    {% comment %} <div><a href="{% url 'restaurant' keyword='제주도' keyword2='추천' %}#tab-re" class="btn btn-outline-primary" data-bs-toggle="pill">{{keyword}}:추천 맛집</a></div>
    <div><a href="{% url 'attraction_list' keyword='제주도' keyword2='추천' %}#tab-at" class="btn btn-outline-primary" data-bs-toggle="pill">{{keyword}}:추천 관광지</a></div>
    <div><a href="{% url 'accommodation' keyword='제주도' keyword2='추천' %}#tab-ac" class="btn btn-outline-primary" data-bs-toggle="pill">{{keyword}}:추천 숙소</a></div> {% endcomment %}
    <hr>
    {% comment %} <div><a href="{% url 'user_info_all_lists' %}">전체 조회</a></div>
    <div><a href="{% url 'user_info_insert' %}">등록</a></div>
    <div><a href="{% url 'user_info_search_custom_form' %}">검색 Custom</a></div>
    <div><a href="{% url 'user_info_search_ajax_form' %}">검색 Ajax</a></div> {% endcomment %}
</div>

{% endblock content %}