
{% load static %}
{% load youtube_filters %}


{% block content %}  

<style>
    #youtube_all_lists_nav {
        background-color: #white !important;         
        padding: 10px;
        border: 1px solid rgba(0, 185, 142);
        border-radius: 5px;
        position: fixed;
        bottom: 0; /* 화면 하단에 고정 */        
    }
</style>

<div id="youtube_all_lists_nav">
     <!-- 카카오톡 메세지 공유 버튼 시작 - kdy -->    
     <div id="kakao_message_t_btn">
     <a href='#'><img src="{% static 'img/kakao_disign/kakaotalk_sharing_btn/kakaotalk_sharing_btn_medium.png' %}" alt="" title="카카오톡 메세지 공유"/><br>메세지 공유</a>
     </div>
     
     <!-- 카카오톡 메세지 공유 버튼 끝 --> 
    <hr>
    <div><a href="{% url 'youtube_list' keyword='제주도' %}" class="nav-item nav-link btn btn-outline-primary">{{keyword}}:HOME</a></div>
    <div><a href="{% url 'youtube_list' keyword='제주도' %}#tab-1" class="btn btn-outline-primary" data-bs-toggle="pill">{{keyword}}:추천영상</a></div>
    <div><a href="{% url 'youtube_list' keyword='제주도' %}#tab-2" class="btn btn-outline-primary" data-bs-toggle="pill">{{keyword}}:관련영상</a></div>
    <div><a href="{% url 'youtube_list' keyword='제주도' %}#tab-3" class="btn btn-outline-primary" data-bs-toggle="pill">{{keyword}}:전체영상</a></div>
    <hr>
    <div><a href="{% url 'youtube_all_lists' %}">전체 조회</a></div>
    <div><a href="{% url 'youtube_insert' %}">등록</a></div>
    <div><a href="{% url 'youtube_search_custom_form' %}">검색 Custom</a></div>
    <div><a href="{% url 'youtube_search_ajax_form' %}">검색 Ajax</a></div>         
</div>

{% endblock content %}