{% extends 'base.html' %}
{% block content %}
<div id="sign_up_box">    
    <form action="" method="post">
        {% csrf_token %}
        <table id="sign_up2">
            <tr>
                <th class='lbl'>ID</th>
                <td><input type="text" name='username'></td>
            </tr><tr>
                <th class='lbl'>PASSWORD</th>
                <td><input type="password" name ='password'></td>
            </tr><tr>
                <th class='lbl'>EMAIL</th>
                <td><input type="text" name ='email'></td>
            </tr><tr>
                <th class='lbl'>성명</th>
                <td><input type="text" name='user_name'></td>
            </tr><tr>
                <th class='lbl'>전화</th>
                <td><input type="text" name='user_phone'></td>
            </tr><tr>
                <th class='lbl'>주소</th>
                <td><textarea type="text" id=lbl_address name='user_address'></textarea></td>
            </tr>
        </table>
        <button type="submit" class='btn'>완료</button>        
    </form>
</div>
{% endblock content %}
