{% load static %}

    <!-- Navbar Start -->
    <div class="container-fluid nav-bar bg-transparent">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
            <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center text-center">
                <div class="icon p-2 me-2">
                    <img class="img-fluid" src="{% static 'img/icon-deal.png' %}" alt="Icon" style="width: 30px; height: 30px;">
                </div>
                <h1 class="m-0 text-primary">InnEats</h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="{% url 'index' %}" class="nav-item nav-link active">옆에 InnEats 부분부터 nav.html</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                    <!-- 숙소 페이지 접근을 위한 임시숙소링크 추가 - 김영재 -->
                    <!-- 테스트를 위해 keyword 제주도 입력 -->
                    <a href="{% url 'accommodation' keyword='제주도' %}" class="nav-item nav-link">임시숙소링크</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Property</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{% url 'property_list' %}" class="dropdown-item">Property List</a>
                            <a href="{% url 'property_type' %}" class="dropdown-item">Property Type</a>
                            <a href="{% url 'property_agent' %}" class="dropdown-item">Property Agent</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="{% url 'property_testimonial' %}" class="dropdown-item">Testimonial</a>
                            <a href="{% url 'error404' %}" class="dropdown-item">404 Error</a>
                        </div>
                    </div>
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                </div>
                {% comment %} <a href="" class="btn btn-primary px-3 d-none d-lg-flex">Add Property</a> {% endcomment %}
            </div>

            <div id="loginBox">    
                {% if user.is_authenticated %}
                    <div>{{ user.username }}님 로그인 중</div>
                    <div id="loginSignOut"><a href="{% url 'sign_out' %}">로그아웃</a></div>
                {% else %}
                    <div id="loginSignUp"><a href="{% url 'sign_up2' %}">회원가입</a></div>
                    <div id="loginSignIn"><a href="{% url 'sign_in2' %}">로그인</a></div>
                {% endif %}    
            </div>
            
        </nav>
    </div>
    <!-- Navbar End -->