{% load static %}
<nav>
    <div id="mainMenuBox">
        <ul id="menuItem">
            <li><a href="{% url 'index' %}">HOME</a></li>
            <li><a href="{% url 'product_list' %}">상품 정보 조회</a></li>
            <li><a href="{% url 'product_insert' %}">상품 등록</a></li>
            <li><a href="{% url 'product_search_form3' %}">상품 검색</a></li>       
            <li><a href="#" id="showAllMenu">전체보기 ▼</a></li>            
        </ul>
    </div>
    <div id="subMenuBox">
        <div class="subMenuItem" id="subMenuItem1">
            <ul>
                <li><a href="#">subMenuItem1-1</a></li>
                <li><a href="#">subMenuItem1-2</a></li>
                <li><a href="#">subMenuItem1-3</a></li>
                <li><a href="#">subMenuItem1-4</a></li>
            </ul>
        </div>
        <div class="subMenuItem" id="subMenuItem2">
            <ul>
                <li><a href="#">subMenuItem2-1</a></li>
                <li><a href="#">subMenuItem2-2</a></li>
                <li><a href="#">subMenuItem2-3</a></li>
                <li><a href="#">subMenuItem2-4</a></li>
            </ul>
        </div>
        <div class="subMenuItem" id="subMenuItem3">
            <ul>
                <li><a href="#">subMenuItem3-1</a></li>
                <li><a href="#">subMenuItem3-2</a></li>
                <li><a href="#">subMenuItem3-3</a></li>
                <li><a href="#">subMenuItem3-4</a></li>
            </ul>
        </div>
        <div class="subMenuItem" id="subMenuItem4">
            <ul>
                <li><a href="#">subMenuItem4-1</a></li>
                <li><a href="#">subMenuItem4-2</a></li>
                <li><a href="#">subMenuItem4-3</a></li>
                <li><a href="#">subMenuItem4-4</a></li>
            </ul>
        </div>
        <div class="subMenuItem" id="subMenuItem5">
            <ul>
                <li><a href="#">subMenuItem5-1</a></li>
                <li><a href="#">subMenuItem5-2</a></li>
                <li><a href="#">subMenuItem5-3</a></li>
                <li><a href="#">subMenuItem5-4</a></li>
            </ul>
        </div>
        <div class="subMenuItem" id="subMenuItem6">
            <ul>
                <li><a href="#">subMenuItem6-1</a></li>
                <li><a href="#">subMenuItem6-2</a></li>
                <li><a href="#">subMenuItem6-3</a></li>
                <li><a href="#">subMenuItem6-4</a></li>
            </ul>
        </div>
    </div>  
</nav>
