{% load static %}



{{ hotel_data.count }}



                <!-- 반복 -->
                <div id="tab-1" class="tab-pane fade show p-0 active" id="recommend">
                    <div class="row g-4">
                        {% for naver_blog in naver_blog_list %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="{{ naver_blog.naver_blog_link }}"><img class="img-fluid" src="{{ naver_blog.naver_blog_image }}" alt="" title="클릭 시 블로그 이동"></a>
                                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">{{ naver_blog.naver_blog_id }}</div>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">{{ naver_blog.naver_bloger_name }}</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">{{ naver_blog.naver_blog_hashtag }}</h5>
                                    <a class="d-block h5 mb-2" href="">{{ naver_blog.naver_blog_title }}</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ naver_blog.naver_blog_content_date}}</p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>좋아요 수:{{ blog_content_likeit_count|intcomma }} </small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i></small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i></small>
                                </div>
                            </div>
                        </div>
                        <!-- css 무너지지 않도록 3개씩 반복 -->
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div>
                </div>
                <div id="tab-1f" class="tab-pane fade show p-0 active">
                    <div class="row g-4">                
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <br><div class="col-12 text-center">
                    <a class="btn btn-primary py-3 px-5" href="https://www.naver_blog.com/results?search_query={{keyword}}">{{keyword}} : 추천블로그 보러가기</a>
                </div><br>
